@mixin font-descr {
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	color: #151515;
}

@mixin font-header {
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	color: #151515;
}

@mixin font-title {
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 60px;
	line-height: 82px;
	color: #383838;
}

@mixin footer-icons {
	content: '';
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;	
	left: 0;
}