.about-us {
	margin-top: 180px;
	&__left-side {
		max-width: 566px;
	}
	&__title {
		@include font-title;
	}
	&__descr {
		@include font-descr;
		margin-top: 50px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		column-gap: 55px;
	}
	&__accordion {
		margin-top: 45px;
		width: 702px;
		&-btn {
			position: relative;
			width: 100%;
			min-height: 77px;
			background-color: white;
			border: none;
			border-bottom: 1px solid $main-color;
			border-top: 1px solid $main-color;
			font-family: $font;
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			color: $text-color;
			text-align: left;
			position: relative;
			margin-top: -1px;
			padding: 25px 81px 25px 0;
			&:focus {
				outline: none;
			}
			&:after {
				position: absolute;
				content: '\002B';	
				color: red;
				font-size: 30px;
				font-weight: 400;
				line-height: 1px;
				top: 50%;
				// transform: translateY(-50%);
				right: 7px;
				color: $main-color;
				cursor: pointer;
				transition: 0.2s ease-in-out transform;
			}
		}
		&-text {
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: #383838;
			padding: 0;
			max-width: 589px;
			max-height: 0;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
		}
	}
}

.about-us__accordion-btn_active {
	&:after {
		transform: rotate(-135deg);
	}
}

.about-us__accordion-text_active {
	margin: 25px 0 25px 0;
}

.about-us__adaptation-btn {
	display: none;
}