.chop-slide {
	position: relative;
	margin-top: 150px;
	width: 100%;
	min-height: 754px;
	background-color: $main-color;
	padding: 199px 255px;
	display: flex;
	align-items: center;
	&__title {
		font-family: $font;
		font-weight: 300;
		font-size: 40px;
		line-height: 55px;
		text-align: center;
		color: #FFFFFF;
		max-width: 1219px;
		margin: 0 auto;
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-text-chopslide 500ms ease-in-out forwards;
		}
	}
	&__img {
		position: absolute;
		bottom: 62px;
		right: 75px;
	}
}

@keyframes move-text-chopslide {
	0% {
		visibility: hidden;
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}
