.discount {
	margin-top: 176px;
	.wrapper {
		display: flex;
		justify-content: flex-end;
		padding-left: 735px;
	}
	&__image-bg {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	&__text-block {
		max-width: 694px;
	}
	&__title {
		@include font-title;
	}
	&__descr {
		@include font-descr;
		margin-top: 50px;
	}
	&__phone-number {
		display: block;
		margin-top: 50px;
		width: 447px;
		height: 78px;
		border-radius: 20px;
		border: 1px solid $main-color;
		outline: none;
		padding: 22px 96px 22px 48px;
		@include font-descr;
		font-weight: 500;
		color: $main-color;
		&:focus {
			border: 2px solid $main-color;
		}
		&::placeholder {
			color: $main-color;
		}
	}
	.wrapper__adaptive {
		display: none;
	}
}