.discount {
	margin-top: 176px;
	.wrapper {
		display: flex;
		justify-content: flex-end;
		padding-left: 735px;
	}
	&__image-bg {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-bg-discount 700ms ease-in-out forwards;
		}
	}
	&__text-block {
		max-width: 694px;
	}
	&__title {
		@include font-title;
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-text-discount 500ms ease-in-out forwards
		}
	}
	&__descr {
		@include font-descr;
		margin-top: 50px;
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-text-discount 500ms ease-in-out forwards 200ms;
		}
	}
	&__form {
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-form-discount 500ms ease-in-out forwards 200ms;
		}
	}
	&__form-adapt {
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-form-discount 500ms ease-in-out forwards 200ms;
		}
	}
	&__phone-number {
		display: block;
		margin-top: 50px;
		width: 447px;
		height: 78px;
		border-radius: 20px;
		border: 1px solid $main-color;
		outline: none;
		padding: 22px 96px 22px 48px;
		@include font-descr;
		font-weight: 500;
		color: $main-color;
		&:focus {
			border: 2px solid $main-color;
		}
		&::placeholder {
			color: $main-color;
		}
	}
	.wrapper__adaptive {
		display: none;
	}
}

@keyframes move-text-discount {
	0% {
		transform: translateY(-50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-bg-discount {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-form-discount {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
