.feedback-page {
    &__header {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        @include font-title;
        max-width: 710px;
        visibility: hidden;
        opacity: 0;
        &_animation {
            animation: move-title-feedbackpage 500ms ease-in-out forwards;
        }
    }
    &__rating {
        @include font-descr; 
        line-height: 27px;
        visibility: hidden;
        opacity: 0;
        &_animation {
            animation: move-rating-feedbackpage 500ms ease-in-out forwards;
        }
    }
    &__descr {
        margin: 0;
    }
    &__avg-rating {
        margin-top: 10px;
        list-style-type: none;
        display: flex;
        padding: 0;
    }

    &__content {
        overflow: hidden;
        margin-top: 80px;
    }
    &__block {
        &-review {
            margin: 0 auto;
            margin-top: 20px;
            min-height: 210px;
            max-width: 900px;
            padding: 45px;
            border: 1px solid $main-color;
            visibility: hidden;
            opacity: 0;
            &_animation {
                animation: move-review-feedbackpage 500ms ease-in-out forwards;
            }
        }
        &-text {
            @include font-descr; 
            line-height: 27px;
        }
        &-rating {
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-top: 40px;
            span {
                &:first-child {
                    display: flex;
                    column-gap: 8px;
                    @include font-descr;
                    line-height: 27px;
                    color: $main-color;
                    &:before {
                        content: '';
                        display: block;
                        width: 23px;
                        height: 22px;
                        background: url('../../icons/feedback-page__stars/star_active.svg') no-repeat;
                    } 
                }
                &:nth-child(2) {
                    @include font-descr;
                    line-height: 27px;
                    color: #92CBC5;
                }
            }
        }
        &-name {
            margin: 0;
            @include font-descr;
            line-height: 27px;
            font-weight: 500;
        }
    }

    // Rating Stars block
    &__send {
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-form {
            padding-top: 150px;
        }
        &-title {
            max-width: 540px;
            @include font-title;
        }
        &-descr {
            margin-top: 53px;
            max-width: 435px;
            @include font-descr;
            line-height: 27px;
        }
        &-rating {
            margin-top: 62px;
            display: flex;
            align-items: center;
            vertical-align: center;
            column-gap: 38px;
        }
        &-text {
            padding: 0;
            margin: 0;
            @include font-descr;
            line-height: 27px;
        }
        &-marks {
            border: none;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            input {
                display: none;
                &:checked ~ label {
                    color: $main-color;
                }
                &:checked + label:hover {
                    color: #3a8a80;
                }
                &:checked ~ label:hover {
                    color: #3a8a80;
                    & ~ label {
                        color: #3a8a80;
                    }
                }
            }
            label {
                color: #ddd;
                cursor: pointer;
                &:before{
                    content: '\2605';
                    font-size: 35px;
                    line-height: 35px;
                    margin: 5px;
                    cursor: pointer;
                }
                &:hover ~ input:checked ~ label {
                    color: #3a8a80;
                }
            }

            &:not(:checked) {
                color: grey;
                label:hover, label:hover ~ label {
                    color: #3a8a80;
                }
            }
        } 

        &-rightform {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 465px;
            input {
                height: 60px;
                padding: 30px 19px;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                border: 1px solid #92CBC5;
                border-radius: 10px;
                color: $main-color;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #92CBC5;
                }
                &:last-child {
                    padding: 0 85px;
                    height: 70px;
                    margin: 0 auto;
                    margin-top: 53px;
                    font-size: 20px;
                    color: white;
                    background-color: $main-color;
                    border-radius: 20px;
                    transition: 0.3s all;
                    &:hover {
                        background-color: #4FB1A7;
                    }
                }
            }
            textarea {
                height: 230px;
                resize: none;
                padding: 30px 19px;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                border: 1px solid #92CBC5;
                border-radius: 10px;
                color: $main-color;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #92CBC5;
                }
            }
        }
    }
}

@keyframes move-title-feedbackpage {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-rating-feedbackpage {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-review-feedbackpage {
	0% {
		visibility: hidden;
		opacity: 0;
        transform: translateY(100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
        transform: translateY(0);
	}
}

@keyframes move-form-feedbackpage {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
