.footer {
	background-color: #0F0F0F;
	margin-top: 140px;
	padding: 108px 0 221px 0;
	min-height: 907px;
	&__menu__list {
		margin: 0;
		padding: 0;
		color: white;
		list-style-type: none;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
	}	
	&__social-block {
		display: flex;
		flex-direction: column;
		position: relative;
		&__logo {
			width: 192.32px;
			height: 42.45px;
		}
		.wrapper__social-icons {
			display: flex;
		}
		&__icons {
			margin-top: 46.5px;
			width: 55px;
			height: 55px ;
			border: 1px solid #fff;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&:not(:last-child) {
				margin-right: 35px;
			}
			&:hover {
				border: none;
			}
		}
		&__link {
			border-radius: 100%;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s all;
			&:hover {
				background-color: $main-color;
			}
			&-inst {
				width: 32px;
				height: 32px;
			}
			&-call {
				width: 32px;
				height: 32px;
			}
			&-telegram {
				width: 32px;
				height: 32px;
			}
			&-facebook {
				width: 32px;
				height: 32px;
			}
		}
		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__subscribe {
			margin-top: 304px;
			color: #fff;
			font-weight: 400;
			font-size: 30px;
			font-family: $font;
			line-height: 41px;
			color: #FFFFFF;
		}
		&__input {
			margin-top: 80px;
			border: none;
			height: 40px;
			border-bottom: 1px solid white;
			background-color: transparent;
			font-family: $font;
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
			color: #fff;
			&:focus {
				outline: none;
				border-bottom: 1px solid $main-color;
			}
		}
	}
	.btn-circle_opacity-footer {
		background: url('../../icons/btn_arrow-white.svg') center no-repeat;
		position: absolute;
		width: 55px;
		height: 55px;
		display: block;
		outline: none;
		border: none;
		transition: 0.3s all;
		border-radius: 100%;
		&:hover {
			background-color: $main-color;
			border-radius: 100%;
			border: 1px solid $main-color;
		}
	}
	&__menu {
		max-width: 250px;
		&_width {
			max-width: 280px;
		}
		&__item {
			margin-top: 30px;
			font-family: $font;
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			color: #FFFFFF;
			&-title {
				font-size: 30px;
				margin-bottom: 47px;
			}
		}		
		&__link {
			text-decoration: none;
			font-family: $font;
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			color: #FFFFFF;
			transition: 0.3s all;
			&:hover {
				color: #4FB1A7;
			}
		}
	}
	&__menu_right {
		max-width: 285px;
		.footer__menu__item {
			position: relative;
			padding-left: 43px;
			&:nth-child(2):before {
				@include footer-icons;
				background: url('../icons/footer/clock.svg') center center no-repeat;
			}
			&:nth-child(3):before {
				@include footer-icons;
				background: url('../icons/footer/Phone.svg') center center no-repeat;
			}
			&:nth-child(4):before {
				@include footer-icons;
				background: url('../icons/footer/mail.svg') center center no-repeat;
			}
			&:nth-child(5):before {
				@include footer-icons;
				background: url('../icons/footer/local-two.svg') center center no-repeat;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__arrow-up {
		a {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 25px;
			text-align: center;
		}
		a:hover {
			path {
				transition: 0.3s ease-in-out all;
				fill: $main-color;
			}
		}
	}
	.footer__social-block_adaptive {
		display: none;
	}
	.footer__social-block__subscribe_adaptive {
		display: none;
	}
}