.header {
	padding-top: 53px;
	padding-bottom: 43px;
	animation: move-header 700ms ease-in-out forwards;
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		cursor: pointer;
		height: 42.45px;
	}
	&__navigation {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		align-items: center;
		width: 650px;
		column-gap: 60px;
		&-link {
			text-decoration: none;
			color: $second-color;
			font-family: $font;
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			transition: 0.3s all;
			&:hover {
				color: $main-color;
			}
		}
	}
	&__contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 13px;
		&-time {
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
			color: $second-color;
			font-family: $font;
			&:after {
				content: '|';
				padding-left: 13px;
			}
		}
		&-phone {
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
			color: $second-color;
			font-family: $font;
			text-decoration: none;
			transition: 0.3s all;
			&:hover {
				color: $main-color;
			}
		}
		&-round {
			width: 40px;
			height: 40px;
			background-color: $main-color;
			display: flex;
			border-radius: 100%;
			&:hover {
				animation-name: header__phone;
				animation-duration: 0.5s;
				animation-timing-function: ease-in-out;
			}
		}
		&-link {
			display: flex;
			height: 100%;
			width: 100%;
			justify-content: center;
			align-items: center;
			img {
				width: 23px;
				height: 23px;
			}
		}
	}
}

.header__hamburger-menu {
	display: none;
}

@keyframes header__phone {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(40deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes move-header {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
