.input-submit {
    margin-top: 50px;
	width: 270px;
	height: 70px;
	background-color: $main-color;
	border-radius: 20px;
	border: none;
	font-family: $font;
	font-weight: 500;
	font-size: 25px;
	line-height: 34px;
	color: #FFFFFF;
	transition: 0.3s all;
	&:hover {
		background: #4FB1A7;
		color: white;
	}
	&:focus {
		outline:0;
	}
}