.main__page {
	padding-top: 178px;
	padding-bottom: 445px;
		&-bg {
			visibility: hidden;
			position: absolute;
			top: -179px;
			right: 0;
			max-width: 847px;
			z-index: -1;
			animation: move-bg 1000ms ease-in-out forwards;
	}
	&-inner {
		overflow: hidden;
		width: 701px;
		display: inline-block;
		font: $font;
		p {	
			visibility: hidden;
			margin-top: 50px;
			width: 600px;
			animation: move-text 400ms ease-in-out 500ms forwards;
			@include font-descr;
		}
		&__title {
			visibility: hidden;
			color: $main-color;
			font-family: $font;
			font-weight: 700;
			font-size: 70px;
			line-height: 109px;
			animation: move-text 700ms ease-in-out forwards;
			span {
				color: $second-color;
			}
		}
	}
	.main__page_adaptive {
		display: none;
		animation: move-bg 1000ms ease-in-out forwards;
	}
	&-btn-animation {
		visibility: hidden;
		opacity: 0;
		animation: move-buttons 700ms ease-in-out forwards 500ms;
	}
}

@keyframes move-text {
	0% {
		transform: translateY(-50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-bg {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-buttons {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
