.more-service {
	margin-top: 180px;
	overflow: hidden;
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		max-width: 541px;
	}
	&__title {
		@include font-title;
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-text-moreservice 600ms ease-in-out forwards;
		}
	}
	&__table {
		margin-top: 45px;
		width: 702px;
		min-height: 539px;
		border-top: 1px solid $main-color;
		@include font-descr;
		.first-column {
			border-bottom: 1px solid $main-color;
			text-align: left;
		}
		.second-column {
			border-bottom: 1px solid $main-color;
			text-align: right;
		}
	}
	.more-service__btn-adaptation {
		display: none;
		opacity: 0;
		visibility: hidden;
		&_animation {
			animation: move-btn-moreservice 600ms ease-in-out forwards 200ms;
		}
	}
	&__btn {
		opacity: 0;
		visibility: hidden;
		&_animation {
			animation: move-btn-moreservice 600ms ease-in-out forwards 200ms;
		}
	}
}

@keyframes move-text-moreservice {
	0% {
		visibility: hidden;
		transform: translateY(-50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-btn-moreservice {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}