.navigation {
	width: 100%;
	height: 70px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 73px;
	display: flex; 
	justify-content: center; 
	align-items: center;
	vertical-align: center;
	border-radius: 25px;
	border: 2px solid $main-color;
	&_mgt73 {
		margin-top: 73px;
	}
	&_mgt133 {
		margin-top: 78px;
	}
	&__item {
		width: 24.95%;
		height: 95%;
		&-double_mod {
			width: 49.6%;
		}
	}
	&__link {
		display: block;
		text-align: center;
		width: 100%;
		height: 100%;
		text-decoration: none;
		padding-top: 13px;
		@include font-descr;
		font-weight: 500;
		transition: 0.3s all;
		border-radius: 23px;
		cursor: pointer;
		&:hover {
			background-color: $main-color;
			border-radius: 23px;
			color: #fff;
		}
	}
}
.navigation__link-active {
	background-color: $main-color;
	border-radius: 23px;
	color: #fff;
}