.prices {
	margin-top: 60px;
	&-title {
		@include font-title;
		width: 510px;
	}
	&__subscribe {
		width: 570px;
		&-descr {
			@include font-descr;
			margin-top: 35px;
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
	&__overflow {
		margin-top:	100px;
		position: relative;
		height: 350px;
	}
	&__cards {
		top: 0;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 38px;
		padding-bottom: 38px;
		transition: 0.5s ease-in-out all;
		transition-delay: 0.1s;
		opacity: 0;
		transform: scale(0);
		&-active {
			opacity: 100%;
			transform: scale(1);
		}
		&-item {
			width: 295px;
			min-height: 280px;
			border: 2px solid $main-color;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			cursor: pointer;
			transition: 0.5s ease-in-out all;
			color: $second-color;
			&:hover {
				background-color: $main-color;
				color: white; 
				box-shadow: (5px 5px 30px $main-color);
			}
		}
		&-title {
			font-family: 'Manrope';
			font-size: 20px;
			font-weight: 500;
			text-align: center;
			line-height: 20px;
		}
		&-cost {
			font-family: $font;
			font-weight: 600;
			font-size: 25px;
			line-height: 41px;
			text-align: center;
			margin: 36px auto;
		}
		&-time {
			position: relative;
			font-family: 'Manrope';
			font-size: 20px;
			line-height: 34px;
			font-weight: 500;
			text-align: center;
			margin: 0;
			margin-left: 20px;
			&:before {
				position: absolute;
				content: '';
				display: block;
				background: url('../../icons/ClockClockwise.svg');
				width: 27px;
				height: 27px;
				top: 50%;
				transform: translateY(-50%);
				left: 65px;
			}
		}
	}
}