.services {
	margin-top: 180px;
	overflow: hidden;
	&-title {
		@include font-title;
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-text-services 600ms ease-in-out forwards;
		}
	}
	&__grid-gallery {
		margin-top: 115px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-template-rows: repeat(3, 375px);
		grid-auto-rows: minmax(375px, 400px);
		column-gap: 30px;
		row-gap: 50px;
		
	}
	&__item {
		visibility: hidden;
		opacity: 0;
		&_animation {
			animation: move-cards-services 600ms ease-in-out forwards 300ms;
		}
	}
	&__item__text {
		width: 252px;
		position: relative;
	}
	&__text-title {
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		color: $text-color;
		font-family: $font;
	}
	&__text-descr {
		@include font-descr;
		font-size: 20px;
		line-height: 27px;
		margin: 23px auto 175px auto;
	}

	&__text-price {
		position: absolute;
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		color: $main-color;
		font-family: $font;
		bottom: 80px;
	}

	&__item__image {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item__mix {
		position: relative;
		width: 100%;
	}
	&__mix-image {
		width: 100%;
		height: 210px;
		object-fit:cover;
	}
	&__mix-title {
		margin-top: 30px;
		margin-bottom: 60px;
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		color: $text-color;
		font-family: $font;
		text-decoration: none;
	}
	&__mix-price {
		position: absolute;
		bottom: 0px;
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		color: $main-color;
		font-family: $font;
	}
}

@keyframes move-text-services {
	0% {
		visibility: hidden;
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-cards-services {
	0% {
		transform: translateX(-100%);
		visibility: hidden;
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}