* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative;
  height: 50px; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu_link {
    font-size: 15px;
    font-weight: 300;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: white;
    text-decoration: none; }
    .menu_link:hover {
      color: #1eacc7; }
  .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }
  .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right; }
  .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px; }
  .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .subheader_btn:hover {
      background-image: none;
      background-color: #FF5656; }

.promo {
  min-height: 800px;
  background: url("../img/header_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center; }
  .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center; }
  .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px; }
  .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    .promo_btn:hover {
      background-image: none;
      background-color: #FF5656; }

.reasons {
  padding: 71px 0 65px 0; }

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.subtitle {
  margin-top: 19px;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
  text-align: center; }

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px; }
  .reasons_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px; }
  .reasons_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%; }
  .reasons_descr {
    width: 343px; }
  .reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400; }
  .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/icons/mobile_bg.png") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../img/mobile_app_1.jpg") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/mobile_app_2.jpg") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/mobile_app_3.jpg") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/mobile_app_4.jpg") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/mobile_app_5.jpg") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/mobile_app_6.jpg") center center/cover no-repeat; }
    .mobile_item_subtitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF; }
    .mobile_item_plus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 29px;
      height: 29px;
      background-color: #000000;
      border-radius: 100%;
      cursor: pointer; }

.choice {
  position: relative; }
  .choice .label {
    width: 115px;
    height: 27px;
    background: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    color: #070716; }
  .choice .title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; }
  .choice .subtitle {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto; }
  .choice_black {
    padding-top: 56px;
    min-height: 502px;
    background-color: #070716; }
  .choice_white {
    min-height: 397px;
    background: url("../img/icons/car_bg.png") center center/cover no-repeat; }
    .choice_white .car {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 235px; }
    .choice_white .text_first {
      margin-top: 211px;
      font-weight: 300;
      font-size: 17px;
      text-align: center;
      color: #222222;
      line-height: 24px; }
    .choice_white .text_second {
      font-weight: 300;
      font-size: 17px;
      text-align: center;
      color: #222222; }

.require {
  padding: 68px 0 51px 0; }
  .require_block {
    margin: 33px 0; }
  .require_title {
    font-weight: 400;
    font-size: 22px;
    color: #1CA8C3; }
  .require .red .require_title {
    color: #FF5656; }
  .require .red .require_list li:before {
    background: url("../img/icons/check_red 1.svg") center center/cover no-repeat; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      font-weight: 300;
      font-size: 17px;
      color: #222222;
      margin-bottom: 10px; }
      .require_list li:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../img/icons/Rectangle.svg") center center/cover no-repeat; }
  .require_descr {
    font-weight: 300;
    font-size: 17px;
    color: #1CA8C3;
    margin-top: 25px; }

.allworld {
  background: url("../img/footer_bg.jpg") center center/cover no-repeat;
  min-height: 716px;
  padding: 46px 0; }
  .allworld .label {
    background: #FFFFFF;
    width: 79px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #070716; }
  .allworld .title {
    color: #FFFFFF;
    margin-top: 26px; }
  .allworld .subtitle {
    color: #FFFFFF;
    margin-top: 0px; }
  .allworld_link {
    display: block;
    text-align: center;
    margin-top: 455px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #1FBAD6;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    .allworld_link:hover {
      color: #FF5656; }

footer {
  min-height: 155px;
  padding: 11px 22px 37px 22px; }
  footer:before {
    display: block;
    margin: 0 auto;
    content: "";
    width: 300px;
    height: 7px;
    background-color: #1FBAD6; }
  footer .footer_links {
    margin: 31px auto 0 auto; }
    footer .footer_links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .footer_links ul a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 15px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #070716;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
        footer .footer_links ul a:hover {
          color: #FF5656; }
    footer .footer_links .opacity {
      margin-top: 13px; }
      footer .footer_links .opacity a {
        font-size: 11px;
        color: #999999;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
        footer .footer_links .opacity a:hover {
          color: #FF5656; }
    footer .footer_links .last_text a {
      margin-top: 16px;
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
      color: #1FBAD6;
      text-decoration: none;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
      footer .footer_links .last_text a:hover {
        color: #FF5656; }
  footer .footer_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 10px;
    margin-top: 55px; }
    footer .footer_icons i {
      color: black;
      -webkit-transition: 0.6s all;
      transition: 0.6s all; }
      footer .footer_icons i:hover {
        color: #1eacc7; }
  footer .footer_mobiletype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 55px;
    grid-gap: 10px; }
    footer .footer_mobiletype img {
      max-height: 27px; }

/*# sourceMappingURL=style.css.map */